@model PizzaBox.Client.Models.CustomerViewModel

@{
  ViewBag.Title = "Customer - Main Menu";
  Layout = "_CustomLayout";
}
<section>
  <h1>Welcome, @Model.Name</h1>
</section>

@* @await Html.PartialAsync("Order", Model.Order) *@
@await Html.PartialAsync("MainMenu", Model)
