@using PizzaBox.Client.PersistData
@model PizzaBox.Client.Models.CustomerViewModel

@{
  ViewBag.Title = "Customer - Main Menu";
  Layout = "_CustomLayout";
  TempData.Put<CustomerViewModel>("Customer", @Model);
}
<section>
  <h1>Welcome, @Model.Name</h1>
</section>

<div class="row">
    <form asp-controller="customer" asp-action="menu" method="GET">
        <div class="col-12 m-2">
            <button type="submit" class="btn btn-primary" name="button" value="order">Place Order</button>
        </div>
        <div class="col-12 m-2">
            <button type="submit" class="btn btn-success" name="button" value="history">View History</button>
        </div>
        <div class="col-12 m-2">
            <button type="submit" class="btn btn-danger" name="button" value="quit">Log out</button>
        </div>
    </form>
</div>
