@model PizzaBox.Client.Models.CustomerViewModel

<div class="row">
    <div class="col-12 m-2">
        <button type="button" class="btn btn-primary">Place Order</button>
    </div>
    <div class="col-12 m-2">
        <button type="button" class="btn btn-success">View History</button>
    </div>
    <div class="col-12 m-2">
        <button type="button" class="btn btn-danger">Log out</button>
    </div>
</div>
