@model PizzaBox.Client.Models.CustomerViewModel

<div class="row">
  <div class="col-6">
    @await Html.PartialAsync("Pizza", @Model)
  </div>
  <div class="col-6">
    @await Html.PartialAsync("PizzaList", @Model)
  </div>
</div>
