@using PizzaBox.Client.PersistData
@model PizzaBox.Client.Models.CustomerViewModel

@{
  //TempData["Name"] = @Model.Name;
  //TempData["Store"] = @Model.Order.Store;
  //TempDataExtension.Put<CustomerViewModel>(TempData,"", @Model);
    TempData.Put<CustomerViewModel>("Customer", @Model);
}

<div class="row">
  <style>
    .vl {
      border-right: 1px solid;
      height: auto;
    }
  </style>
  <div class="col-6 vl">
    @await Html.PartialAsync("Pizza", @Model)
  </div>
  <div class="col-6">
    @await Html.PartialAsync("PizzaList", @Model)
  </div>
</div>
